streamlit
sentence-transformers
spacy
faker
google-generativeai
python-dotenv
langchain
langchain-community
langchain-core
langchain-google-genai
deepeval
pandas
openpyxl
xlsxwriter
numpy
scikit-learn
requests
beautifulsoup4
torch
transformers
huggingface-hub